html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --display-1: 4rem;
  --display-2: 3.4375rem;
  --display-3: 3rem;
  --display-4: 2.625rem;

  --body-1: 1.5rem;
  --body-2: 1.125rem;
  --body-3: 1rem;
  --body-4: 0.875rem;

  --topbar-height: 5.25rem;
  --page-padding: 1rem;

  --color-orange: #ff671f;
}

@media screen and (min-width: 600px) {
  :root {
    --display-1: 5.625rem;
    --display-2: 5rem;
    --display-3: 4rem;
    --display-4: 3.4375rem;

    --body-1: 1.75rem;
    --body-2: 1.25rem;
    --body-3: 1.125;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --display-1: 9.5rem;
    --display-2: 5.625rem;
    --display-3: 5rem;
    --display-4: 4rem;

    --body-1: 2rem;
    --body-2: 1.5rem;
    --body-3: 1.25rem;
  }
}
