@use 'mixin' as *;

.root {
  background: var(--color-orange);
  padding: 64px var(--page-padding);
}

.main {
  position: relative;
  min-height: calc(100vh - var(--topbar-height));
}

.header {
  h1 {
    text-align: left;
    letter-spacing: -0.02em;
    color: white;
    @media screen and (min-width: 600px) {
      text-align: center;
      grid-column: span 4;
    }
    @media screen and (min-width: 1024px) {
      grid-column: 2 / span 10;
    }
  }

  p {
    color: white;
    font-size: var(--body-1);
    line-height: 1.25;
    text-align: left;

    @include breakpoint('medium') {
      text-align: center;
      grid-column: span 4;
    }
    @include breakpoint('large') {
      grid-column: 4 / span 6;
    }
  }

  .emailWrapper {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;

    input[type='email'] {
      line-height: 3rem;
      flex: 1;
      background: transparent;
      border: none;
      color: currentColor;
      border-bottom: 2px solid white;
      margin-right: 16px;
      &::placeholder {
        color: rgba(white, 0.7);
      }
    }

    button[type='submit'] {
      color: currentColor;
      border: none;
      text-transform: uppercase;
      font-weight: bold;
      background: var(--color-blue);
      border-radius: 4px;
      padding: 0 16px;
    }

    @include breakpoint('medium') {
      grid-column: span 4;
    }
    @include breakpoint('large') {
      grid-column: 4 / span 6;
    }
  }
}

.takeActionWrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(3, max-content);
  padding: var(--content-padding);
  padding-right: calc(env(safe-area-inset-right) + var(--page-padding));
  padding-left: calc(env(safe-area-inset-left) + var(--page-padding));

  h2 {
    grid-column: span 1;
    order: 0;
  }

  a {
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  button {
    grid-column: span 1;
    justify-self: flex-end;
    order: 2;
  }

  ul {
    grid-column: span 2;
    margin-top: 2rem;
    order: 3;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-bottom: 2rem;

    li {
      scroll-snap-align: start;
      min-width: 85%;
      &:nth-last-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f3f3f3;
        a {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--color-blue);
          text-decoration: underline;
        }
      }

      @include breakpoint('medium') {
        grid-column: span 2;
        &:nth-last-child(1) {
          display: none;
        }
      }
      @include breakpoint('large') {
        grid-column: span 3;
      }
    }

    @include breakpoint(medium) {
      display: grid;
      padding-bottom: 0;
    }
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  background: #f2f3f7;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    background: white;
    padding: 3rem;
    // border-radius: 0.5rem;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    input {
      display: block;
      width: 100%;
      margin-bottom: 8px;
      padding: 0.5em;
      border-radius: 0.25em;
      border: 1px solid #dddfe2;
    }

    button {
      width: 100%;
      padding: 1em;
      background: var(--color-blue);
      color: white;
      border: none;
    }
  }
}

.values {
  background: var(--color-blue);
  padding: var(--content-padding);
  padding-right: calc(env(safe-area-inset-right) + var(--page-padding));
  padding-left: calc(env(safe-area-inset-left) + var(--page-padding));
  color: white;
  p {
    grid-column: span 12;
    line-height: 1.08;
  }
  h2 {
    grid-column: span 12;
  }
}
